.container {
  width: 100%;
  height: 90vh;
}

.content {
  overflow: auto;
  width: 80%;
  margin: 50px auto;
}

a {
  text-decoration: underline;
  color: black;

}

.pageTitle{
  font-size: 26px;
  font-weight: 600;
}

.userTable{
  margin-top: 50px;
}
.userTable td{
width: 200px;
}

.userTable thead{
  font-size: 1rem;
  font-weight: 500;
  background: rgba(0,200,0,.2);
}